name: wideops-wordpress

services:
  app:
    image: ${wordpress_image}
    environment:
      DB_HOST: "${database_host}"
    ports:
      - "80:80"
    volumes:
      - /mnt/wordpress-uploads:/var/www/html/wp-content/uploads
    healthcheck:
      test:
        ["CMD", "curl", "--fail", "--silent", "--output", "/dev/null", "http://localhost/"]
      interval: 2s
      timeout: 5s
      retries: 45
    restart: unless-stopped
